<ion-header>
  <ion-toolbar>
    <ion-title>Competitions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="(competitions$ |async)">
    <ion-row>
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        size="12"
        *ngFor="let competition of (competitions$ |async).competitions; let i=index;"
      >
        <ion-card (click)="goToTeamsByCompetition(competition.id)" class="competitions__card">
          <ion-item>
            <ion-avatar slot="start">
              <img
                [src]="competition.area.ensignUrl? competition.area.ensignUrl : 'https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg'"
              />
            </ion-avatar>
            <ion-label>
              <h3>{{competition.name}}</h3>
              <p>{{competition.currentSeason.startDate| date}} - {{competition.currentSeason.endDate| date}}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
