<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="(teams$ |async)">
    <ion-row>
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        size="12"
        *ngFor="let competition of (teams$ |async).teams; let i=index;"
      >
        <ion-card (click)="goToTeamDetails(competition.id)">
          <ion-card-header>
            <ion-card-subtitle>{{competition.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid></ion-content
>
